
= react_component('accountItem', @account.as_json, {prerender: false})

/ %pre= @jobs
- @jobs.each do |job|
  = react_component('SidekiqJob', job.as_json, {prerender: false})

%section.account-queries
  %h1.title Settings
  %article
    %header
      %h3 Search queries
    .query-list
      - @account.search_queries.each do |query|
        .query-item
          = query.query
          %small.tag-item= "#{query.kind}"
= simple_nested_form_for @account do |f|
  = f.fields_for :search_queries do |sq|
    = sq.input :query
    = sq.input :kind
    = sq.link_to_remove "Remove this query" 
  %p= f.link_to_add "Add a query", :search_queries
  = f.submit