!!! 5
%html(lang="en")
  %head
    %title= content_for?(:title) ? yield(:title) : "%NAME"
    = csrf_meta_tags
    = cache ['generic', 'head'] do
      %meta(charset="utf-8")
      %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
      %meta(name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0")
      %meta{:content => "yes", :name => "mobile-web-app-capable"}
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
      %meta{:content => "#ffffff", :name => "apple-mobile-web-app-status-bar-style"}
      %meta{:content => "%NAME", :name => "apple-mobile-web-app-title"}
      %meta{:content => "on", "http-equiv" => "cleartype"}

      -# iOS
      %link{:href => asset_url("apple-icon-57x57.png"), :rel => "apple-touch-icon", :sizes => "57x57"}
      %link{:href => asset_url("apple-icon-60x60.png"), :rel => "apple-touch-icon", :sizes => "60x60"}
      %link{:href => asset_url("apple-icon-72x72.png"), :rel => "apple-touch-icon", :sizes => "72x72"}
      %link{:href => asset_url("apple-icon-76x76.png"), :rel => "apple-touch-icon", :sizes => "76x76"}
      %link{:href => asset_url("apple-icon-114x114.png"), :rel => "apple-touch-icon", :sizes => "114x114"}
      %link{:href => asset_url("apple-icon-120x120.png"), :rel => "apple-touch-icon", :sizes => "120x120"}
      %link{:href => asset_url("apple-icon-144x144.png"), :rel => "apple-touch-icon", :sizes => "144x144"}
      %link{:href => asset_url("apple-icon-152x152.png"), :rel => "apple-touch-icon", :sizes => "152x152"}
      %link{:href => asset_url("apple-icon-180x180.png"), :rel => "apple-touch-icon", :sizes => "180x180"}

      -# Android
      %link{:href => asset_url("android-chrome-192x192.png"), :rel => "icon", :sizes => "192x192", :type => "image/png"}
      %link{:href => asset_url("favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}
      %link{:href => asset_url("favicon-96x96.png"), :rel => "icon", :sizes => "96x96", :type => "image/png"}
      %link{:href => asset_url("favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}

      %link{:href => "/manifest.json", :rel => "manifest"}

      -# Win mobile
      %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
      %meta{:content => asset_url("ms-icon-144x144.png"), :name => "msapplication-TileImage"}
      %meta{:content => "#ffffff", :name => "theme-color"}

      %link{:rel => "shortcut icon", :type => "image/svg", :href => asset_url("android-chrome-192x192.png")}
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"

    = javascript_include_tag "application"

    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"


  %body

    %p.top-banner.notice= notice
    %p.top-banner.alert= alert
    .primary-container
      = content_for?(:navbar) ?  yield(:navbar) : (render partial: "layouts/navbar")
      .page{class: content_for?(:page_class) ?  yield(:page_class) : 'default'}
        = yield

      %footer